nav.fixed
	position fixed
	z-index 1
	text-align center
	text-transform uppercase

p
	margin 0
	padding-top 200px
	padding-bottom 200px
	text-align center
	font-weight bold
p.default
	background-color white
p.white
	background-color black
	color white
p.blue
	background-color green


.midnightHeader.default
	background black
	color white
.midnightHeader.white
	background white
	color black
.midnightHeader.blue
	background blue
	color green

