head
	title Better_Demo
body
	+content

template(name='content')
	+fixedheader
	section.white(data-midnight="white")
		span First
	section.black(data-midnight="black")
		span Second
	section.blue(data-midnight="blue")
		span Third
	section.yellow(data-midnight="yellow")
		span Fourth
	section.empty(data-midnight="empty")

template(name='fixedheader')
	nav.fixed
		span Logo
		//- .midnightHeader.default
		//- 	.logo-holder
		//- 		a.logo
		//- 			span.screenreader
