head
	title Better_Demo
body
	+content

template(name='content')
	+fixedheader
	section.default
		span No Midnight Data
	section.white(data-midnight="white")
		span White
	section.dkblue(data-midnight="dkblue")
		span Dark Blue
	section.purple(data-midnight="purple")
		span Purple
	section.ltblue(data-midnight="ltblue")
		span Light Blue
	section.yellow(data-midnight="yellow")
		span Yellow
	section.red(data-midnight="red")
		span Red

template(name='fixedheader')
	nav.fixed
		//- span Logo
		.midnightHeader.default
			.logo-holder
				a.logo
					span.screenreader
