head
	title Basic_Demo
body
	+content

template(name='content')
	+fixedheader
	.row
		p(data-midnight="default").default This is a demo of the meteor package: Midnight.js
	.row
		p(data-midnight="white").white Use white font on a black nav bar here
	.row
		p(data-midnight="blue").blue Use green font on a blue nav bar here
	.row
		p(data-midnight="white").white Use white font on a black nav bar here
	.row
		p(data-midnight="blue").blue Use green font on a blue nav bar here
	.row
		p(data-midnight="white").white Use white font on a black nav bar here
	.row
		p(data-midnight="default").default &nbsp;

template(name='fixedheader')
	nav.fixed
		h1.logo logo
